* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --almond: blanchedalmond;
    --brown: #7b3f00;
    --navy: navy;
}

body {
    background-color:var(--navy);
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: monospace;
    display: flex;
    justify-content: space-around;
    gap: 150px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 150%;
    width: 100%;
    background-color: var(--navy);
    color: var(--brown);
}
header h1 {
    padding: 10px;
    border: 2px solid var(--brown);
    background-color: var(--almond);
    border-radius: 10px;
}

header a {
    font-size: 80%;
    color: var(--almond);
    text-decoration: none;
    box-shadow: inset 0 0 0 0 var(--brown);
    padding: 5px 0.25rem;
    margin: 0 -0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
header a:hover {
  color: var(--brown);
  box-shadow: inset 200px 0 0 0 var(--almond);
}

.cover-photo {
    position:relative;
    width: 100%;
    height: auto;
}

.cover-photo img {
    z-index: 1;
    width: 100%;
    height: auto;
    display:block;
}

.cover-sub {
    position:absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--navy);
    color: var(--almond);
    padding: 10px;
}

.about-me {
    background-color: var(--almond);
    border-radius: 15px;
    display: flex;
    position: relative;
    padding: 20px;
    margin: 10px;
    max-width: 100%;
}

article h3 {
    width: auto;
    text-align: center;
    border-bottom: 2px solid var(--brown);
    margin: 10px 0;
}

article p {
    flex-wrap: wrap;
    text-align: left;
    line-height: 1.5;
    max-width: 50%;
}

.about-me img {
    float: right;
    margin: auto;
    max-width:45%;
}

@media screen and (max-width: 500px){
    header {
       flex-direction: column;
       gap: 10px;
       text-align: center;
       padding-top: 15px;
       padding-bottom: 15px;
    }
    header h1 {
        font-size: 110%;
        max-width: auto;
    }
    .cover-sub {
        display: flex;
        flex-direction: column;
        flex-shrink: 50%;
        font-size: 60%;
    }
    article p {
        max-width: 100%
    }
    .about-me img {
        float: none;
        margin: 20px;
        justify-content: center;
        max-width: 80%;
    }
    .about-me {
        text-align: center;
    }
}